.itmc-icon {
  --itmc-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--itmc-icon-color);
  font-size: inherit;
}
